body{
    background-color: #FFFFFF;
    background-image: url('zomboPics/zombo_bg.png');
    background-repeat: repeat-x;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header{
    width: 90%;
    text-align: center;
}
.zomboTitle{
    width:100%;
    margin-top: 25px;
    max-height: 217px;
    max-width: 1200px;
}

.spin{
    animation: spin .5s infinite linear;
}

.flicker{
    margin-top: 10%;
    animation: flicker .3s infinite;
}

@keyframes flicker {
    0% {opacity: 1;}
    50% {opacity: .1;}
    100% {opacity: 1;}
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
